/* .search-wrapper {
  width: 100%;
  padding: 0 30px 0 30px;
} */

#search {
  width: 93%;
}

#searchicon {
  width: 7%;
  border: 0;
  background: #ffffff00;
  min-height: 0px;
}

.col {
  width: 100%;
}
h5 {
  color: rgb(218, 131, 131);
}
h1 {
  color: white;
}

.foot {
  bottom: 40px;
}

.footfixed {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
